@model ABCBankApps.Models.CustomersAcct

@{
    ViewBag.Title = "NewCustomer";
}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

   
<h4>Create a New Customer</h4>

@using (Html.BeginForm("NewCustomer", "Home",FormMethod.Post, new { role="form"}))
{
    switch ((string)ViewBag.ValidResult)
    {

        case "Success":
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> Registration Sucessfull !</strong>
                    
                                </div>

            break;
            case "Null":
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> @Html.ValidationSummary()</strong>
                    
                                </div>

            break;

    }
   


      <div class="col-md-6">
<div class="form-group">
    @Html.TextBoxFor(model=>model.vCusName,
    new 
    {
        placeholder ="* Enter firstname",
        @class="form-control input-md",
        required="required",
        type="text"
        
    }
    
    )
</div>
          <div class="form-group">
    @Html.TextBoxFor(model=>model.vCusSurName,
    new 
    {
        placeholder ="* Enter Lastname",
        @class="form-control input-md",
        required="required",
        type="text"
        
    }
    
    )
</div>
                   <div class="form-group">
    @Html.DropDownListFor(model => model.cSex,
    new SelectList(new[] { "Male", "Female" }), new { 
       @class="form-control input-md",
    }
    )
</div>
       <div class="form-group">
        
            @Html.TextAreaFor(model => model.vAddress,
            new{
               placeholder="* Enter Home Address",
                @class ="form-control input-md",
                required="required",
                type="text"
                
            }
            )
        </div>
            <div class="form-group">
        
            @Html.TextBoxFor(model => model.mBal,
            new{
               placeholder="0.00",
                @class ="form-control input-md",
                required="required",
                type="number",   
                
            }
            )
        </div>
          <div class="form-group">
        
            @Html.TextBoxFor(model => model.staffid,
            new{
               placeholder="* Enter Account Offier Id",
                @class ="form-control input-md",
                required="required",
                type="text"
                
            }
            )
        </div>
          <button class="btn btn-lg btn-theme" type="submit">Submit</button>
     <button class="btn btn-lg btn-theme" type="reset">Reset</button>
            </div>
}
       
        </div>

    </div>
        </div>
</section>


   